<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appointmed.mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:label="AppointMed Mobile"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppointMedMobile">

        <!-- Auth -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />

        <!-- Dashboard -->
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.DoctorDashboardActivity"
            android:exported="false" />

        <!-- Profile -->
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".appointments.AppointmentsActivity"
            android:exported="false" />

        <!-- Booking & Specialists -->
        <activity
            android:name=".specialist.SelectSpecialistActivity"
            android:exported="false" />
        <activity
            android:name=".booking.BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".booking.BookingConfirmedActivity"
            android:exported="false" />
        <activity
            android:name=".notifications.NotificationsActivity"
            android:exported="false" />

    </application>

</manifest>
